<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:v='urn:schemas-microsoft-com:vml')
	head
		include ./utilis/metaTags.html
		include ./utilis/styles.html 
		title Email Title
	body(id='body' style='width:100%; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background: #EAEAEA;')
		include ./components/preheader.html
		table(class='body-table' cellpadding='0' cellspacing='0' border='0' style='margin:0; padding:0; width:100%; background: #EAEAEA;')
			tbody 
				tr
					td(valign='top' align='center' class='mb-padding') 
						table(class='main-table' cellpadding='0' cellspacing='0' border='0' align='center' width='633' styles='background: #EAEAEA;')
							tbody
								tr
									td(valign='top' style='vertical-align: top;' bgcolor='#EAEAEA' align='center')
										<table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
										<tr><td style="font-size: 0px; line-height: 0px;padding-top: 15px;" aria-hidden="true">&nbsp;</td></tr>
										</table>
										// first white section start
										table(class='container-table' width='100%' border='0' cellspacing='0' cellpadding='0' style='border-radius: 10px; overflow: hidden')
											tbody
												tr
													td(align='center' valign='top' style='vertical-align: top;' bgcolor='#ffffff')
														
														table(class='container-table' width='100%' border='0' cellspacing='0' cellpadding='0' style='')
															tbody
																tr
																	td(align='center' valign='top' style='vertical-align: top;')
																		//- content here
																		include ./components/01_top_banner.html
																		include ./components/02_main_title.html
																		include ./components/03_cta.html
																		include ./components/04_mid_text.html
																		include ./components/05_mid_banner.html
										// first white section finish	
										<table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
										<tr><td style="font-size: 0px; line-height: 0px;padding-top: 15px;" aria-hidden="true">&nbsp;</td></tr>
										</table>		
										// first white section start
										table(class='container-table' width='100%' border='0' cellspacing='0' cellpadding='0' style='border-radius: 10px; overflow: hidden')
											tbody
												tr
													td(align='center' valign='top' style='vertical-align: top;' bgcolor='#ffffff')
														
														table(class='container-table' width='100%' border='0' cellspacing='0' cellpadding='0' style='')
															tbody
																tr
																	td(align='center' valign='top' style='vertical-align: top;')
																		//- content here
																		include ./components/06_footer.html
										// first white section finish		